@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cinzel';
  src: url('../assets/fonts/Cinzel/Cinzel-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Cinzel_Decorative';
  src: url('../assets/fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Uncial_Antiqua';
  src: url('../assets/fonts/Uncial_Antiqua/UncialAntiqua-Regular.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  @apply bg-purple900 text-text800;
  scrollbar-width: thin;
  scrollbar-color: #8d5df1 #101012;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  border-radius: 1px;
  background-color: #1f1f25;
  transition: 'ease-in-out 300ms';
}

*::-webkit-scrollbar-track:hover {
  background-color: #101012;
}

*::-webkit-scrollbar-track:active {
  background-color: #101012;
}

*::-webkit-scrollbar-thumb {
  transition: 'ease-in-out 300ms';
  border-radius: 5px;
  background-color: #8d5df1;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #5729ba;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #5729ba;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;
  }
}

@layer base {
  body {
    @apply bg-gray900 text-text800 font-body overflow-hidden;
  }

  a,
  button {
    all: unset;
    @apply cursor-pointer;
  }

  span {
    @apply block;
  }

  input,
  textarea,
  select,
  button,
  span,
  a {
    @apply font-body;
  }
}
