<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' https://apis.google.com" />

    <title>Fictional</title>
  </head>
  <body>
    <div id="firebaseui-auth-container"></div>
    <div id="root"></div>
  </body>
</html>
